{% load i18n %}
<h2>
    {% if feedback.content_object %}
        {% trans "A new report has been posted:" %}
    {% else %}
        {% trans "A new feedback has been posted:" %}
    {% endif %}
</h2>

<p>{{ feedback.message }}</p>
<hr />
{% if feedback.content_object %}
    <p>{% trans "Object" %}: {{ feedback.content_object }}</p>
    <p>{% trans "Object PK" %}: {{ feedback.content_object.pk }}</p>
{% endif %}
{% if feedback.current_url %}
    <p>{% trans "Feedback about" %}: {{ feedback.current_url }}</p>
{% endif %}
<p>{% trans "Email" %}: {{ feedback.user_email }}</p>
<p>{% trans "Date" %}: {{ feedback.creation_date|date }}</p>
<p>{% trans "View in admin" %}: {{ feedback_url }}</p>
